



<head>
        <title>Bar charts with Month data</title>
        
        <style>
                img {
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                }
                </style>
     <link
     href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"
     rel="stylesheet" type="text/css">
     <link
     href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"
     rel="stylesheet" type="text/css">
     
     
     <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
     <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
           </head>
           
               
           
               <!-- <img src="data:image/png;base64, {{ plot_url }}" class="center" > -->
           
             
               
                 {{ script|safe }}
                 {{ div|safe }}
          <div id="myplot"></div>
         
        
         
          
      </body>
      